<html>
<head>


	<style type="text/css">

  body {
  background-size: 100% auto;
    background-repeat: no-repeat;
}
.wrapper {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 47%;
}

.ruch {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 33%;
}
.container{
 text-align: center;
}
</style>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>


  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body background="a.jpg">

	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">MyAQI</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Get Air Quality</a></li>
      <li><a href="#">Add a Sensor</a></li>
      <li><a href="#">Remove a Sensor</a></li>
      <li><a href="#">Billing</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
  <h3>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;        Hey ! is my surrounding healthy ? Lets check it out !</h3>
</div>
<form>

<div class="wrapper">

Area: <input type="text" id="area"><br>
<br>

<button  class="btn btn-primary" type="button" onclick="breeze()">Click Me!</button>
<br>

</form>
</div>
<br>
<div class="ruch">
<br>
<br>


<p id="a"> </p>
<p id="c"></p>
<p id="b"></p>
</div>

<script type="text/javascript">

function breeze()
{

	//alert("hi");

var x1 = document.getElementById("area");
alert(x1.value);

$.get( "https://api.breezometer.com/baqi/?location="+x1.value+"&key=89dd912e381d4fb797763ae7882c6230",
 function( data ) {
 // alert( JSON.stringify(data.breezometer_description));
  
  //alert( JSON.stringify(data.random_recommendations.children));
  document.getElementById("a").innerHTML = "<b>AIR Quality is : </b>"+data.breezometer_description;

    document.getElementById("c").innerHTML ="<b>AIR AQI is </b>" + data.breezometer_aqi;
document.getElementById("b").innerHTML = "<b>Feedback </b>" + data.random_recommendations.outside;


    }
    );

}


</script>

</body>
</html>