
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Rancho Del Sol Observatory</title>
<meta name="keywords" content="Ken Crawford, astrophotography, CCD Images, solar images, star streams,Sun, narrowband, APOD, nebula, galaxy, Solar, Prominances, Rancho Del Sol Observatory, deep sky, DSO, photoshop tutorials, tidal streams">  
<meta name="description" content="Ken Crawford's backyard observatory"> 
<style type="text/css">
body {
	text-align: center;
	background-color: #003;
	background-image: url(assets/bckgrd.png);
	background-repeat: repeat-x;
	margin: 0px;
	position: relative;
	top: 10px;
}
html, body {
	margin: 0px;
	padding: 0px;
}
#wrapper {
	background-color: #000;
	width: 1230px;
	text-align: left;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	height: 1250px;
	position: relative;
}
#image_2 {
	color: #FFF;
	background-repeat: no-repeat;
	height: 241px;
	width: 300px;
	overflow: hidden;
	position: absolute;
	top: 963px;
	left: 475px;
}
#Image_3 {
	color: #FFF;
	background-repeat: no-repeat;
	height: 241px;
	width: 317px;
	overflow: hidden;
	position: absolute;
	top: 963px;
	left: 864px;
}
#Image_4 {
	color: #FFF;
	background-repeat: no-repeat;
	height: 265px;
	width: 391px;
	overflow: hidden;
	position: absolute;
	top: 963px;
	left: 6px;
}
#DiscAdaptor {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #FFF;
	background-color: #000;
	background-repeat: no-repeat;
	text-align: left;
	height: 280px;
	width: 298px;
	overflow: hidden;
	position: absolute;
	left: 6px;
	top: 303px;
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 5px;
}
#Disc_TCF {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #FFF;
	background-color: #000;
	text-align: left;
	height: 163px;
	width: 1200px;
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 10px;
	overflow: hidden;
	position: absolute;
	left: 8px;
	top: 961px;
}
#Disc_Remote {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #FFF;
	background-color: #000;
	background-repeat: no-repeat;
	text-align: left;
	height: 98px;
	width: 556px;
	overflow: hidden;
	position: absolute;
	left: 317px;
	top: 604px;
	padding-right: 5px;
	padding-left: 5px;
}
#Header1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: normal;
	color: #FFF;
	background-color: #333;
	background-repeat: no-repeat;
	text-align: center;
	height: 49px;
	width: 1171px;
	border: thin solid #000;
	position: absolute;
	left: 0px;
	top: -1px;
}
#Disc_FeatherTouch {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #FFF;
	background-color: #000;
	background-repeat: no-repeat;
	text-align: left;
	height: 300px;
	width: 355px;
	overflow: hidden;
	position: absolute;
	left: 874px;
	top: 299px;
	padding-right: 5px;
	padding-left: 5px;
}
#Header2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #FFF;
	background-color: #000;
	background-repeat: no-repeat;
	text-align: left;
	height: 227px;
	width: 593px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	position: absolute;
	left: 318px;
	top: 56px;
	padding-top: 10px;
	padding-right: 3px;
	padding-left: 5px;
}
#SunImage {
	background-repeat: no-repeat;
	height: 234px;
	width: 250px;
	border: thin solid #333;
	position: absolute;
	left: 0px;
	top: 56px;
}
#Coronado1 {
	background-repeat: no-repeat;
	height: 300px;
	width: 550px;
	overflow: hidden;
	position: absolute;
	left: 319px;
	top: 298px;
}
#Coronado2 {
	background-repeat: no-repeat;
	height: 226px;
	width: 302px;
	position: absolute;
	left: 2px;
	top: 720px;
}
#Coronado3 {
	background-repeat: no-repeat;
	height: 227px;
	width: 301px;
	position: absolute;
	left: 311px;
	top: 720px;
	overflow: hidden;
}
#Coronado4 {
	background-repeat: no-repeat;
	height: 226px;
	width: 301px;
	overflow: hidden;
	position: absolute;
	left: 618px;
	top: 720px;
}
#Coronado5 {
	background-repeat: no-repeat;
	height: 239px;
	width: 302px;
	position: absolute;
	left: 925px;
	top: 58px;
	overflow: hidden;
}
#Image_1 {
	background-repeat: no-repeat;
	height: 225px;
	width: 306px;
	position: absolute;
	top: 720px;
	left: 922px;
}
a:link {
	color: #FFF;
}
a:hover {
	color: #FF0;
}
a:visited {
	color: #FFF;
}
a:active {
	color: #FFF;
}
</style>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7836258-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>
<div id="wrapper">
  <div id="Header1"> My Air Quality MyAQI</div>
  <div id="SunImage"><a href="/UserLogin" target="_blank"><img src="stylesheets/img/image1.png" width="309" height="232" /></a></div>
  <div id="Header2"><br />
    USER: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Can Enable Sensor<br />
    Location: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Across the Globe <br />
      Charges:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/morrisgraph" title="equipment" target="_blank">As per the Location</a><br />
      Time zone:&nbsp;&nbsp;&nbsp;  Pacific<br />
    Observatory: Roll off roof built in the spring of 2002<br />
    Operations:&nbsp;&nbsp; Robotic with hard wire and internet connection<br />
    Sensors:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Boltwood cloud sensor and Davis weather reporting <br />
  </div>
  <a href="/vendorHome"><div id="Coronado1"><img src="stylesheets/img/download.png" width="600" height="295" /></div></a>
  <div id="Coronado2"><img src="Observatory/RF_1.jpg" width="300" height="225" /></div>
  <div id="Coronado3"><img src="Observatory/RF_4.jpg" width="300" height="225" /></div>
  <div id="Coronado4"><img src="Observatory/RF_5.jpg" width="300" height="225" /></div>
  <form id="graph" method="post" action="hiechart">
  <a onclick="document.getElementById('graph').submit();"><div id="Coronado5"><img src="/stylesheets/img/Admin.png" width="300" height="239" /></div></a>
  </form>
  
 
  <div id="DiscAdaptor">
    <p>My hole in the sky!<br />
Located  in the foothills of the Sierras about one hour east from Sacramento is my backyard observatory.  The imaging conditions features dark skies and good seeing. But,  this area has very tall trees that leave me with about a 5 - 6 hour imaging window. I am also very limited to the south. <br />
      <br />
    </p>
  </div>
  <div id="Disc_Remote">
    <p>In the spring of 2002 my dream of a backyard observatory was realized with help from friends and family. My hole in the sky has produced many <a href="index.html" title="Home" target="_blank">images</a> from the comfort of my home office.</p>
  </div>
  <div id="Disc_FeatherTouch">
    <p>Automated imaging runs monitored from my home office or through internet connections allow for data collection while I sleep. This greatly reduces the effort required for the many hours of exposures required for the <a href="index.html" title="Astrophotography by Ken Crawford" target="_blank">images</a> I produce.</p>
</div>
  <div id="Image_1"><img src="Observatory/RF_8.jpg" width="300" height="225" /></div>
  <div id="image_2"><img src="assets/Mirror1.jpg" width="320" height="240" /></div>
  <div id="Image_3"><img src="assets/mirror4.jpg" width="320" height="240" /></div>
  <div id="Image_4"><img src="Observatory/MirrorClean.jpg" width="400" height="266" /></div>
</div>
</body>
</html>
